{% extends "layout.html" %}
{% block title %}MyTicket{% endblock %}

{% block content %}
<h2>New Ticket</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.subject.label(class="form-label") }}
        {{ form.subject(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>

<hr>

<h2>My Tickets</h2>

<p>
    <span class="badge bg-warning">Açık</span>
    <span class="badge bg-info">Yanıtlandı</span>
    <span class="badge bg-success">Kapalı</span>
</p>
{% for ticket in tickets %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ ticket.subject }}</h5>
        <h6>
            <span class="badge 
            {% if ticket.status == 'Açık' %}bg-warning
            {% elif ticket.status == 'Yanıtlandı' %}bg-info
            {% elif ticket.status == 'Kapalı' %}bg-success
            {% endif %}">
                {{ ticket.status }}
            </span>
        </h6>
        <p class="card-text">{{ticket.description}}</p>
        <small class="text-muted">Created: {{ ticket.created_at }}</small>
    </div>
</div>
{% else %}
    <p>You have no tickets yet.</p>
{% endfor %}
{% endblock %}
